.toggleBtnContainer {
  display: flex;
  place-content: right;
  justify-content: right;

  @media (max-width: 480px) {
    display: flex;
    place-content: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.toggleBtn {
  border: #3ee026;
  border-radius: 5px 5px 5px 5px;
  background: #3ee026;
  padding: 10px;
  color: #ffffff;

  &Off {
    border: red;
    border-radius: 5px 5px 5px 5px;
    background: red;
    padding: 10px;
    color: #ffffff;
  }
}